<!-- src/app/features/details/survey.component.html -->

<ActionBar title="In-Situ Survey"></ActionBar>

 <!-- Flexible survey page -->

<ScrollView height="100%">
  <StackLayout>
    <StackLayout padding="10" >

<!-- DISPLAYING NEXT QUESTION ON EMOJI TAP    -->
<div *ngIf="showSurvey">
<Label
*ngIf="currentQuestionIndex < survey[0].questions.length"
fontSize="17"
fontWeight="700"
class="text-primary"
padding="0"
textWrap="true"
textAlignment="center"
[text]="survey[0].questions[currentQuestionIndex].question"
></Label>
<StackLayout orientation="horizontal" *ngIf="currentQuestionIndex < survey[0].questions.length" class="emoji-container">
<ng-container *ngFor="let answer of survey[0].questions[currentQuestionIndex].answers">
  <button
    fontSize="23"
    padding = 5
    class="text-secondary"
    [text]="answer.emoji"
    (tap)="onEmojiSelected(survey[0].questions[currentQuestionIndex].id, answer.value)"
  ></button>
</ng-container>
</StackLayout>
<Label
*ngIf="currentQuestionIndex >= survey[0].questions.length"
fontSize="17"
fontWeight="700"
fontWeight="700"
textAlignment="center"
textWrap="true"
text = "Thank you for answering this survey, see you on the next one"
></Label>
</div>
 
  </StackLayout>
  </StackLayout>
</ScrollView>
