/* src/app/features/survey/survey.component.css */
@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.survey-container {
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    flex: 1; /* Allow the content to take up the entire available space */
  }
  
  .survey-content {
    max-width: 80%; /* Limit the content width to 80% of the available space */
  }
  
  /* src/app/features/details/survey.component.css */



.small-cute-button {
  width: 50%; 
  height: 50%;
  font-size: 14; 
  border-radius: 50%; 
  margin: 5px; 
}

/* .small-cute-checkbox {
  width: 70%; 
  height: 70%; 
  font-size: 14; 
  border-radius: 25px;
  margin: 5px; 
  
} */

