<!-- src/app/features/details/survey.component.html -->

<ActionBar title="In-Situ Survey">
  <ActionBar>
    <GridLayout rows="auto auto" columns="auto, *">
    <Label row="1" col="1" text="In-Situ Survey" class="action-bar-title" fontSize="20" fontWeight="800" textAlignment="center" ></Label>
    </GridLayout>
    </ActionBar>
</ActionBar>

 <!-- Flexible survey page -->

<ScrollView height="100%">
  <StackLayout>
    <StackLayout padding="10" >

<!-- DISPLAYING NEXT QUESTION ON EMOJI TAP    -->
<Label
*ngIf="currentQuestionIndex < survey[0].questions.length"
fontSize="20"
fontWeight="700"
class="text-primary"
padding="20"
textWrap="true"
margin="20"
textAlignment="center"
[text]="survey[0].questions[currentQuestionIndex].question"
></Label>
<GridLayout columns="*,*,*,*,*" *ngIf="currentQuestionIndex < survey[0].questions.length" class="emoji-container">
<ng-container col="2" *ngFor="let answer of survey[0].questions[currentQuestionIndex].answers; let i = index">
  <button
    col="{{ answer.value - 1 }}"
    style="width: 20%"
    fontSize="23"
    class="text-secondary"
    [text]="answer.emoji"
    (tap)="onEmojiSelected(survey[0].questions[currentQuestionIndex].id, answer.value)"
  ></button>
</ng-container>
</GridLayout>

<!-- <GridLayout>


<Label
*ngIf="currentQuestionIndex >= survey[0].questions.length"
fontSize="20"
fontWeight="700"
fontWeight="700"
textAlignment="center"
padding="20"
textWrap="true"
text = "Thank you for answering this survey, see you on the next one"
></Label>
</GridLayout> -->



<StackLayout verticalAlignment = "center" columns="auto" rows="auto auto" horizontalAlignment="center" padding = "20" >
  <Image
     *ngIf="currentQuestionIndex >= survey[0].questions.length"
     src="~/app/assets/btck.png"
     width="300"
     height="100"
  ></Image>
  <Label
     *ngIf="currentQuestionIndex >= survey[0].questions.length"
     fontSize="20"
     fontWeight="700"
     textAlignment="center"
     textWrap="true"
     text="Thank you for answering this survey, see you on the next one 😊"
  ></Label>
  </StackLayout>

<!-- <Button *ngIf="currentQuestionIndex >= survey[0].questions.length"
text="Send response"
(tap)="sendResponses()"
class='-primary'
fontWeight="500"
padding = 5></Button> -->
</StackLayout>
</StackLayout>
</ScrollView>
